<div style="padding-left: 20px; padding-right: 20px;">
    <div class="container">
        <h1>Game</h1>
        <hr/>

        <form name="playerForm">
            <fieldset>
                <label for="whitePlayer">White Player:</label>
                <select id="whitePlayer" 
                    ng-model="selectedWhitePlayer"
                    ng-options="item.firstName + ' ' + item.lastName for item in players">
                </select>

              
                <label for="blackPlayer">Black Player:</label>
                <select id="blackPlayer" 
                    ng-model="selectedBlackPlayer"
                    ng-options="item.firstName + ' ' + item.lastName for item in players">
                </select>

                <label for="gameDate">Date:</label>
                <input id="gameDate" type="date" required ng-model="game.gameDate" />  
                <label for="openingClassification">Opening Classification:</label>
                <input id="openingClassification" type="text" required ng-pattern="/[A-E]\d{2}/" placeholder="A-E followed by two digits..."   />   
                <label for="result">Result:</label>
                <select id="result" ng-model="game.result">
                    <option value="1" selected>1-0</option>
                    <option value="2">0.5-0.5</option>
                    <option value="3">0-1</option>                
                </select>
            </fieldset>
            <br />
            <button type="submit" ng-click="savePlayer(player, playerForm)" class="btn btn-primary">Save</button>
            <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
        </form>
    </div>
    
</div>        