<div style="padding-left:20px; padding-right:20px;">
                                  
        <h1>Players</h1>
        <hr/>

        <div class="row-fluid">
            <fieldset>
                <a href="#/editPlayer">
                    <img id="addPlayer" ng-src="/img/add.png" style="width: 32px; height: 32px;" />
                </a>
                <input type="search" class="search" id="lastNameFilter" placeholder="find by last name..."
                ng-model="filter" 
                ng-model-options='{ debounce: 1000 }' 
                ng-change="filterPlayersByLastName()" />
            </fieldset>
        </div>

        <div id="noPlayers" class="noResults" ng-hide="players.length > 0">
            <span>No players found</span>
        </div>

        <table class="playersTable" ng-show="players.length > 0">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Rating</th>
                <th style="width: 10%"></th>
            </tr>
            <tr ng-repeat="player in players">
                
                <td><a href="#/editPlayer/{{player.playerId}}" class="edit" >{{player.firstName}}</a></td>
                <td><a href="#/editPlayer/{{player.playerId}}" class="edit">{{player.lastName}}</a></td>
                <td style="text-align: right"><a href="#/editPlayer/{{player.playerId}}" class="edit">{{player.rating}}</a></td>
                <td><button type="button"><img id="deletePlayer" ng-src="/img/delete.png" 
                    style="width: 32px; height: 32px;" title="delete" 
                    ng-click="deletePlayer(player)"></button>
                </td>
            </tr>
        </table>                     
    </div>